<% layout("/layouts/boilerplate") %>

    <body>

        <div class="row">
            <div class="col-8 offset-2">
                <h3 class="mt-3"> Edit your Listing.</h3>
                <form method="post" action="/listings/<%=listing._id %>?_method=PUT" novalidate
                    class="needs-validation">

                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" value="<%= listing.title %>"
                            placeholder="Add a catchy title..." class="form-control" required>
                        <div class="invalid-feedback">Oops! Don't forget to add a title.</div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" class="form-control" placeholder="Description..."
                            required><%= listing.description %></textarea>
                        <div class="invalid-feedback">Uh-oh! A description is needed to tell your story.</div>

                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Image</label>
                        <input type="text" name="listing[image]" value="<%= listing.image %>"
                            placeholder="www.LinkToYourImage.com" class="form-control" required>
                        <div class="invalid-feedback">Yikes! A valid image link will make your listing shine.</div>

                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="text" name="listing[price]" value="<%= listing.price %>" placeholder="$1200"
                                class="form-control" required>
                            <div class="invalid-feedback">Oh no! Add a price to make this listing complete.</div>

                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" name="listing[location]" value="<%= listing.location %>"
                                placeholder="Canada" class="form-control" required>
                            <div class="invalid-feedback">Hmm, a country is important for this listing.</div>

                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[country]" value="<%= listing.country %>"
                            placeholder="Toronto, Ontario" class="form-control" required>
                        <div class="invalid-feedback">Whoops! A location is essential to guide buyers.</div>

                    </div>

                    <button type="submit" class="btn btn-dark add-btn mt-3 edit-btn">Edit</button>

                </form>
            </div>
        </div>
    </body>